@model MVCRoleTop.ViewModel.ClienteViewModel
<link href="~/css/style-login.css" rel="stylesheet" type="text/css">

<main>
  
  <section id = dashboard>
    <h2>Administrador</h2>
      <table>
        <tr>
          <th>ID</th>
          <th>Dono do Evento</th>
          <th>Nome do Evento</th>
          <th>Data Do Evento</th>
          <th>Tipo De Evento</th>
          <th>Numero De Pessoas</th>
          <th>Situação</th>
          
        </tr>
      @foreach(var meuevento in @Model.Eventos)
      {
          <tr>
              <td>@meuevento.ID</td>
              <td>@meuevento.DonoDoEvento</td>
              <td>@meuevento.Nome</td>
              <td>@meuevento.DataDoEvento</td>
              <td>@meuevento.TipoDeEvento</td>
              <td>@meuevento.NumeroDePessoas</td>
              <td>Pendente</td>
              <form method="POST" action='@Url.Action("Aprovar", "Administrador")'>
                <input type="hidden" name="ID" value=@meuevento.ID>
                <td><input type="submit" name="Aprovar" value="Aprovar"></td>
              </form>
              <form method="POST" action='@Url.Action("Cancelar", "Administrador")'>
                <input type="hidden" name="ID" value=@meuevento.ID>
                <td><input type="submit" name="Cancelar" value="Cancelar"></td>
              </form>
          </tr>

      }
      </table>

  </section>

  <section id = espaco>

  </section>

</main>